[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/gsl"]
	path = vendor/gsl
	url = https://github.com/ampl/gsl.git
[submodule "vendor/oneTBB"]
	path = vendor/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
